<ModalBody>
    <Div>
        @foreach (var cron in _cronSamples)
        {
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit Text="@GetCronDescription(cron)"
                              ReadOnly="true"
                              Margin="Margin.Is1"
                              Placeholder="Use cron expression" />
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Clicked="@(() => OnSelectExpression(cron))">
                        <Icon Name="MaterialIcons.ContentPasteGo"></Icon>
                    </Button>
                </Addon>
            </Addons>
        }
    </Div>
</ModalBody>
<ModalFooter>
    <Button Clicked="Close">Close</Button>
</ModalFooter>