@typeparam T where T : Enum

<Column ColumnSize="ColumnSize.Is12" Margin="Margin.Is0" Background="Background.Light">
    @foreach (int value in Enum.GetValues(Type))
    {
        if (ExcludedValues.Contains((T)Enum.ToObject(Type, value)))
            continue;
        <Button Color="Color.Primary" Size="Size" Shadow="Shadow.None"
                   Outline="@(value == Convert.ToInt32(Value))"
                Clicked="() => OnSelected(value)">
            <Icon Name="@GetIcon(value)"/>@Enum.GetName(Type, value)
        </Button>
     }
</Column>