.radar-spinner-small, .radar-spinner-small * {
    box-sizing: border-box;
}

.radar-spinner-small {
    height: 24px;
    width: 24px;
    position: relative;
}

.radar-spinner-small .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    animation: radar-spinner-small-animation 2s infinite;
}

.radar-spinner-small .circle:nth-child(1) {
    padding: calc(24px * 5 * 2 * 0 / 110);
    animation-delay: 300ms;
}

.radar-spinner-small .circle:nth-child(2) {
    padding: calc(24px * 5 * 2 * 1 / 110);
    animation-delay: 300ms;
}

.radar-spinner-small .circle:nth-child(3) {
    padding: calc(24px * 5 * 2 * 2 / 110);
    animation-delay: 300ms;
}

.radar-spinner-small .circle:nth-child(4) {
    padding: calc(24px * 5 * 2 * 3 / 110);
    animation-delay: 0ms;
}

.radar-spinner-small .circle-inner, .radar-spinner-small .circle-inner-container {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: calc(24px * 5 / 110) solid transparent;
}

.radar-spinner-small .circle-inner {
    border-left-color: var(--secondary, #ff1d5e);
    border-right-color: var(--secondary, #ff1d5e);
}

@keyframes radar-spinner-small-animation {
    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
